# gradle

.gradle/
build/
out/
classes/

examples/Example_Mod/.gradle/
examples/Example_Mod/build/
examples/Example_Mod/out/
examples/Example_Mod/classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

examples/Example_Mod/.settings/
examples/Example_Mod/.vscode/
examples/Example_Mod/bin/
examples/Example_Mod/.classpath
examples/Example_Mod/.project

# macos

*.DS_Store

# fabric

run/
